<h1>Languages</h1>

<%= form_tag languages_path, method: :get do %>
<p>
<%= text_field_tag 'q', @query, placeholder: "Search for a language" %>
<%= submit_tag "Search" %>
</p>
<% end %>

<ul>
<% @languages.each do |language| %>
  <li><%= link_to language.inverted_name, language.external_link %></li>
<% end %>
</ul>
