// Place all the styles related to the languages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.language-links, .sil-credit {
  font-size: 80%;
  color: grey;
  a:link, a:visited { color: grey; }
  a:hover { color: #00E; }
}

.language-links {
  margin-left: 10px;
}

.sil-credit {
  margin-top: 100px;
}
