.site-note {
  margin: 20px 0;
  border: 1px #ccc solid;
  background-color: #eee;
  padding: 0 4px;
  p { margin: 4px 0; }
}

.notice {
  border: 1px #8f8 solid;
  background-color: #dfd;
  padding: 4px;  
}

.alert {
  border: 1px #f88 solid;
  background-color: #fdd;
  padding: 4px;
}